@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  @apply h-full w-full overflow-hidden bg-gray-50 font-sans text-base text-body;
  font-family: 'DM Sans';
}

html {
  --body: #1f2937;
  --inputBorder: rgba(118, 127, 147, 0.6);
}

html.dark {
  --body: #777f93;
  --inputBorder: rgba(118, 127, 147, 0.3);
}

.virtualized-icons-grid-container {
  max-height: 100%;
}
