.cm-editor {
  @apply h-20 p-1 text-xl;
}

.cm-editor.cm-focused {
  outline: none;
}
.cm-editor > .cm-scroller:focus {
  outline: none;
}

.cm-scroller::-webkit-scrollbar {
  height: 10px;
}

.cm-scroller::-webkit-scrollbar-track {
  @apply bg-black3 rounded-full;
}

.cm-scroller::-webkit-scrollbar-thumb {
  @apply rounded-full;
  background-image: linear-gradient(180deg, #696eff 0%, #f7abff 100%);
}

.cm-evaluation-block {
  padding: 2px 8px;
  background-color: #ffffff;
  color: #ff5930;
  border-radius: 4px;
  margin: 4px;
}

.cm-custom-tooltip {
  position: relative;
}

/* to offset transform of modal */
.cm-tooltip {
  transform: translate(-264px, -60px);
}

.cm-custom-tooltip .cm-tooltip-text {
  @apply text-xs text-white;
  visibility: hidden;
  width: max-content;
  color: #fff;
  padding: 4px 8px;
  text-align: left;
  background-color: #373737;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);

  /* Position the tooltip */
  position: absolute;
  z-index: 999;
  top: 25px;
  left: -50px;
}

.cm-custom-tooltip:hover .cm-tooltip-text {
  visibility: visible;
}
