.cm-editor {
  @apply h-20 p-1 text-xl;
}

.cm-editor.cm-focused {
  outline: none;
}
.cm-editor > .cm-scroller:focus {
  outline: none;
}

.cm-scroller::-webkit-scrollbar {
  height: 10px;
}

.cm-scroller::-webkit-scrollbar-track {
  @apply bg-black3 rounded-full;
}

.cm-scroller::-webkit-scrollbar-thumb {
  @apply rounded-full;
  background-image: linear-gradient(180deg, #696eff 0%, #f7abff 100%);
}
